<div class="container login-container vertical-align-parent">
    <form role="form" class="vertical-align-child-middle">
        <div ng-hide="model.message === null" class="alert alert-danger" role="alert">{{model.message}}</div>
        <h2 class="text-center">Sign In</h2>
        <div class="form-group">
            <label for="username" class="sr-only">Email</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button ng-click="model.login(model.user)" class="btn btn-primary btn-lg btn-block" role="button">Sign In</button>
        </div>
    </form>
</div>
