<div class="container view-container">

    <div class="container">
        <div class="row text-center">
            <ul class="nav nav-pills">
                <li><a role="button" class="btn btn-primary" href="#/user/{{model.currentUser.handle}}>Home</a></li>
                <li><a role="button" class="btn btn-success" href="">Following</a></li>
                <li><a role="button" class="btn btn-info" href="">Followers</a></li>
            </ul>
        </div>
        <br><br>
        <h3>Update Profile</h3>
        <div class="row">
            <img class="img-responsive img-circle img-100-100 center-block" ng-src="{{model.dp}}">
            <input type="file" class="center-block" file-model="model.pictureFile">
            <button class="btn btn-primary btn-sm center-block" ng-click="model.updateDisplayPicture(model.pictureFile)">Update</button>

        </div>

        <br><br><br>
        <form class="form">
            <div ng-hide="model.success === null" class="alert alert-success" role="alert">{{model.success}}</div>
            <div ng-hide="model.error === null" class="alert alert-danger" role="alert">{{model.error}}</div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label class="big-font col-md-2">First Name</label>
                <div class="col-md-4">
                    <input ng-model="model.currentUser.firstName" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label class="big-font col-md-2">Last Name</label>
                <div class="col-md-4">
                    <input ng-model="model.currentUser.lastName" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label class="big-font col-md-2">Password</label>
                <div class="col-md-4">
                    <input ng-model="model.currentUser.password" type="password" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label class="big-font col-md-2">Gender</label>
                <div class="col-md-4">
                    <select class="form-control" ng-model="model.currentUser.gender">
                        <option ng-selected="model.currentUser.gender === 'male'" value="male">Male</option>
                        <option ng-selected="model.currentUser.gender === 'female'" value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label class="big-font col-md-2">DOB</label>
                <div class="col-md-4">
                    <input ng-model="model.currentUser.dob" type="date" value="{{model.date(model.currentUser.dob)}}" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label class="big-font col-md-2">Email</label>
                <div class="col-md-4">
                    <input ng-model="model.currentUser.email" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label class="big-font col-md-2">Short Bio</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" ng-model="model.currentUser.description">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <a role="button" class="btn btn-primary btn-lg btn-block" ng-click="model.updateUser(model.currentUser)">Update</a>
                </div>
            </div>
        </form>
    </div>


</div>



