<div class="container view-container login-container vertical-align-parent">
    <form role="form" class="vertical-align-child-middle">
        <div ng-hide="model.message === null" class="alert alert-danger" role="alert">{{model.message}}</div>
        <h2 class="text-center">Register</h2>
        <div class="form-group">
            <label for="handle" class="sr-only">Handle</label>
            <input ng-model="model.user.handle" type="text" class="form-control" id="handle" placeholder="Handle (Choose carefully. Can't be modified later.)">
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="verify" class="sr-only">Verify Password</label>
            <input ng-model="model.user.verify" type="password" class="form-control" id="verify" placeholder="Retype Password">
        </div>
        <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input ng-model="model.user.email" type="text" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <button ng-click="model.register(model.user)" class="btn btn-primary btn-lg btn-block" role="button">Submit</button>
        </div>
    </form>
</div>
