<div class="container box">
    <div class="row">
        <div class="col-md-3 profile box">
            <aside>
                <img class="img-responsive img-circle" src="/project/images/envelope.png">
                <h4>Lionel Messi</h4>
                <p>Football superstar at Barca</p>
                <button class="btn btn-success"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Followers (68)</button>
                <button class="btn btn-info"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Following</button>
                <br><br>
                <p>Share this page:</p>
                <ul>
                    <li><a href=""><img src="/project/images/icons/fb.png"></a></li>
                    <li><a href=""><img src="/project/images/icons/twitter.png"></a></li>
                    <li><a href=""><img src="/project/images/icons/pinterest.png"></a></li>
                    <li><a href=""><img src="/project/images/icons/gplus.png"></a></li>
                </ul>
            </aside>
        </div>
        <div class="col-md-8 box">right</div>
    </div>
</div>