<div class="container view-container">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 profile">
            <aside>
                <div class="profile-content">
                    <div class="display-picture">
                        <img class="img-responsive img-circle" ng-src="{{model.pageOwner.displayPicture}}">
                    </div>
                    <h4 class="profile-name">{{model.pageOwner.firstName + " " + model.pageOwner.lastName}}</h4>
                    <p>{{model.pageOwner.description}}</p>
                    <div class="follow">
                        <button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Following ({{model.pageOwner.followingCount}})</button>
                        <button class="btn btn-info btn-sm"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Followers ({{model.pageOwner.followersCount}})</button>
                    </div>
                    <br><br>
                    <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Starred ({{model.pageOwner.starredCount}})</button>
                    <button ng-show="model.isHomePage" role="button" class="btn btn-primary btn-xs" href="#/profile">Edit Profile</button>
                    <button ng-hide="model.isFollowing" role="button" class="btn btn-primary btn-xs" href=""><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="model.follow()">Follow</button>
                    <button ng-show="model.isFollowing" role="button" class="btn btn-primary btn-xs" href=""><span class="glyphicon glyphicon-tick" aria-hidden="true"> Following</button>
                    <div class="social-icons">
                        <p>Share this page:</p>
                        <ul class="clearfix">
                            <li><a href=""><img src="/project/images/icons/fb.png"></a></li>
                            <li><a href=""><img src="/project/images/icons/twitter.png"></a></li>
                            <li><a href=""><img src="/project/images/icons/pinterest.png"></a></li>
                            <li><a href=""><img src="/project/images/icons/gplus.png"></a></li>
                            <li><a href=""><img src="/project/images/icons/linkedin.png"></a></li>
                        </ul>
                    </div>

                </div>

            </aside>
        </div>
        <div class="col-md-8">
            <article>
                <header>
                    <h2>Lorem Ipsum</h2>
                </header>
                <footer>
                    <small>Posted on 4th April<span class="glyphicon glyphicon-star pull-right">12</span></small>
                </footer>
                <div class="lead">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. <a href="">Read more</a>
                </div>
                <footer>
                    <span class="label label-default">writing</span>
                    <span class="label label-default">code</span>
                    <span class="label label-default">html</span>
                </footer>
                <hr>
            </article>
            <article>
                <header>
                    <h2>Lorem Ipsum</h2>
                </header>
                <footer>
                    <small>Posted on 4th April<span class="glyphicon glyphicon-star pull-right">12</span></small>
                </footer>
                <div class="lead">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. <a href="">Read more</a>
                </div>
                <footer>
                    <span class="label label-default">writing</span>
                    <span class="label label-default">code</span>
                    <span class="label label-default">html</span>
                </footer>
                <hr>
            </article>
        </div>
    </div>
</div>