html, body {
    height: 100%;
}

body {
    padding-top: 65px;
}

.no-wrapping {
    white-space: nowrap;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.big-font {
    font-size: 16px;
}

.cropped {
    width: 128px;
    height: 128px;
    overflow: hidden;
}

.cropped img {
    width: 128px;
    height: 128px;
}

.navbar-header {
    float: left;
}


.navbar-default {
    background-color: ##f8f8f8;
    border-bottom: lightgrey solid 1px;
}

.navbar-fixed-top {
    border-radius: ;
}

.navbar-collapse .collapse {
    float: right;
}

.view-container {
    height: 100%;
}

.container {
    height: 100%;
}

.login-container {
    min-height: 100%;
    max-width: 400px;
}

.vertical-align-parent {
    display: table;
}

.vertical-align-child-middle {
    display: table-cell;
    vertical-align: middle;
}

.profile aside p {
    font-size: 12px;
}

.profile ul li {
    float: left;
    margin-right: 8px;
}

.profile aside ul {
    list-style: none;
    padding: 0px;
}

.profile {
    margin-right: 40px;
}

.row header h2 {
    margin-bottom: 0px;
}

.row footer {
    margin-bottom: 10px;
    color: #000000;
}

.lead {
    margin-bottom: 10px;
    font-size: 18px;
}

.label {
    font-size: 14px;
}

.display-picture {
    height: 100%;
}

.display-picture img{
    height: 100px;
    width: 100px;
}

.profile-name {
    margin-bottom: 0px;
}

.follow {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-content {
    width: 100%;
}

.social-icons {
    margin-top: 10px;
    float: left;
    width: 100%;
}

@media (max-width: 992px) {
    .display-picture {
        float: left;
        margin-right: 15px;
    }

    .profile-content {
        float: left;
    }

    .follow {
        float: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .social-icons {
        float: left;
    }
}

.thumb-picture img{
    height: 50px;
    width: 50px;

    margin-bottom: 10px;
}

.comment-thumb-picture img{
    height: 50px;
    width: 50px;
}

.comment h4 {
    margin-bottom: 0px;
}

.comment-picture-col {
    max-width: 80px;
    width: 80px;

    position: relative;
    float: left;

    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.comment-picture-col img {
    margin-top: 5px;
}

.comment-name h4{
    margin-left: 0px;
}

.post-heading h2{
    margin-bottom: 0px;
}

.box {
    border: 1px red dotted;
}