.no-wrapping {
    white-space: nowrap;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.big-font {
    font-size: 16px;
}

.cropped {
    width: 128px;
    height: 128px;
    overflow: hidden;
}

.cropped img {
    width: 128px;
    height: 128px;
}
