<div class="container view-container">

    <div class="row">
        <div class="col-xs-8">
            <input ng-model="model.post.name" type="text" class="form-control" placeholder="Post Name">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-8">
            <input ng-model="model.post.tags" type="text" class="form-control" placeholder="Tags (space separated)">
        </div>
    </div>

    <br><br>

    <div ng-repeat="part in model.post.content" ng-switch="part.type">
        <div class="row" ng-switch-when="text">
            <div class="col-xs-8">
                <p>{{part.value}}</p>
            </div>
            <div class="col-xs-2">
                <a ng-click="model.editText($index)" role="button" class="glyphicon glyphicon-pencil"></a>
                <a ng-click="model.removeText($index)" role="button" class="glyphicon glyphicon-remove"></a>
            </div>
            <br>
        </div>
        <div class="row" ng-switch-when="video">
            <div class="col-xs-8">
                <iframe ng-src="{{model.trust(part.value)}}" type="text/html" width="280" frameborder="0"  allowfullscreen></iframe>
            </div>
            <div class="col-xs-2">
                <a ng-click="model.editVideo($index)" role="button" class="glyphicon glyphicon-pencil"></a>
                <a ng-click="model.removeVideo($index)" role="button" class="glyphicon glyphicon-remove"></a>
            </div>
            <br>
        </div>
    </div>

    <br><br>

    <div class="form-group row">
        <div class="col-xs-6">
            <textarea class="form-control" ng-model="model.text">
            </textarea>
        </div>
        <ul class="nav nav-pills">
            <li ng-show="model.textIndex == null"><button class="btn btn-secondary btn-sm" ng-click="model.addText(model.text)">Add Text</button></li>
            <li ng-show="model.textIndex != null"><button class="btn btn-secondary btn-sm" ng-click="model.updateText(model.text)">Update Text</button></li>
            <li><button class="btn btn-info btn-sm" ng-click="model.addVideo()">Add Video</button></li>
        </ul>

        <br>

        <div class="col-sm-6">
            <button class="btn btn-info" ng-click="model.updatePost(model.post)">Update Post</button>
        </div>

    </div>

</div>