<h1 class="page-header">Posts</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Created On</th>
            <th>Content</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input ng-model="model.post.userId" type="text"></td>
            <td><input ng-model="model.post.name" type="text"></td>
            <td><input ng-model="model.post.createdOn" type="date" value="{{model.today}}" class="form-control"></td>
            <td><input ng-model="model.post.content" type="text"></td>
            <td class="no-wrapping">
                <button ng-click="model.addPost(model.post)" class="btn btn-success">Add</button>
                <button ng-click="model.updatePost(model.post)" class="btn btn-info">Update</button>
            </td>
        </tr>
        <tr ng-repeat="post in model.posts">
            <td class="text-right">{{post.userId}}</td>
            <td>{{post.name}}</td>
            <td>{{[post.createdOn.getMonth()+1, post.createdOn.getDate(), post.createdOn.getFullYear()].join('/')}}</td>
            <td>{{post.content[0]}}</td>
            <td class="no-wrapping">
                <button ng-click="model.selectPost($index)" class="btn btn-primary">Select</button>
                <button ng-click="model.deletePost($index)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>