<h1 class="page-header">Post</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Created On</th>
            <th>Content</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input ng-model="post.userId" type="text"></td>
            <td><input ng-model="post.name" type="text"></td>
            <td><input ng-model="post.createdOn" type="date" value="{{today}}" class="form-control"></td>
            <td><input ng-model="post.content" type="text"></td>
            <td><button ng-click="addPost(post)" class="btn btn-success">Add</button>
                <button ng-click="updatePost(post)" class="btn btn-info">Update</button></td>
        </tr>
        <tr ng-repeat="post in posts">
            <td>{{post.userId}}</td>
            <td>{{post.name}}</td>
            <td>{{[post.createdOn.getMonth()+1, post.createdOn.getDate(), post.createdOn.getFullYear()].join('/')}}</td>
            <td>{{post.content}}</td>
            <td class="no-wrapping">
                <button ng-click="selectPost($index)" class="btn btn-primary">Select</button>
                <button ng-click="deletePost($index)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>