<div class="container view-container">
    <div class="row">
        <div class="col-xs-8">
            <ul class="nav nav-pills">
                <li ng-show="model.isOwnPost"><a class="btn btn-default" ng-href="#/post/{{model.postOwnerHandle}}">Posts</a></li>
                <li ng-show="model.isOwnPost"><a class="btn btn-primary" ng-click="model.editPost()"">Edit</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <br><br>
        <div class="col-xs-2">
            <div class="thumb-picture text-center">
                <a role="button" ng-href="#/user/{{model.postOwnerHandle}}"><img class="center-block img-responsive img-circle" ng-src="{{model.postOwnerDP}}"></a>
                <a role="button" ng-href="#/user/{{model.postOwnerHandle}}"><h6>{{model.postOwnerName}}</h6></a>
            </div>
        </div>
        <div class="col-xs-2 pull-right no-wrapping btn-group" role="group">
            <a ng-disabled="!model.currentUser || model.isOwnPost" ng-class="{'btn btn-primary btn-sm': model.hasStarred, 'btn btn-default btn-sm': !model.hasStarred}" role="button" ng-click="model.clickStar()"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</a>
            <a  role="button" ng-click="model.findStarrers()" class="btn btn-default btn-sm">{{model.starrersCount}}</a>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-md-8 text-center post-heading">
            <h2>{{model.post.name}}</h2>
            <small>{{model.post.createdOn.toDateString()}}</small>
            <hr>

            <div ng-repeat="part in model.post.content" ng-switch="part.type">
                <div class="row" ng-switch-when="text">
                    <div class="col-xs-2"></div>
                    <div class="col-md-12 text-left lead">
                        <p>{{part.value}}</p>
                    </div>
                    <br>
                </div>
                <div class="row" ng-switch-when="video">
                    <div class="col-xs-2"></div>
                    <div class="col-md-12">
                        <iframe class="pull-left" ng-src="{{model.trust(part.value)}}" type="text/html" width="280" frameborder="0"  allowfullscreen></iframe>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-md-12">
                    <div class="social-icons">
                        <p>Share this page:</p>
                        <ul class="clearfix">
                            <li><a href=""><img src="/project/images/icons/fb.png"></a></li>
                            <li><a href=""><img src="/project/images/icons/twitter.png"></a></li>
                            <li><a href=""><img src="/project/images/icons/pinterest.png"></a></li>
                            <li><a href=""><img src="/project/images/icons/gplus.png"></a></li>
                            <li><a href=""><img src="/project/images/icons/linkedin.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <br>
            <h3>Comments</h3>
            <div class="alert alert-danger" role="alert" ng-show="model.message != null">{{model.message}}</div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <textarea class="form-control" ng-model="model.comment.content"></textarea>
                </div>
                <button class="btn btn-selected btn-sm" ng-hide="model.commentSelected" ng-click="model.addComment(model.comment)">Add Comment</button>
                <button class="btn btn-info btn-sm" ng-show="model.commentSelected" ng-click="model.updateComment(model.comment)">Update Comment</button>
            </div>

            <br><br>
            <div ng-repeat="comment in model.comments">
                <div class="row">

                    <div class="col-xs-8 comment comment-thumb-picture">
                        <div class="row">
                            <div class="comment-picture-col">
                                <a ng-href="#/user/{{comment.handle}}"><img class="pull-right img-responsive img-circle" ng-src="{{model.imageUrl(comment.displayPicture)}}"></a>
                            </div>
                            <div class="col-md-6 comment-name">
                                <a ng-href="#/user/{{comment.handle}}"><h4 class="">{{comment.firstName + " " + comment.lastName + " "}}</h4></a>
                                <small>{{comment.timestamp.toLocaleString()}}</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="comment-picture-col"></div>
                            <div class="col-xs-6">
                                <p>{{comment.content}}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-4 no-wrapping">
                        <button class="btn btn-default" ng-click="model.selectComment(comment._id, $index)" ng-show="model.isCommenter(comment.userId)">Edit</button>
                        <button class="btn btn-danger" ng-click="model.removeComment(comment._id, $index)" ng-show="model.isOwnerOrCommenter(comment.userId)">Remove</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>

</div>

