.form-horizontal .control-label
{
    text-align: left;
}

table
{
    max-width: none;
}

th
{
    background-color: #cacaca;
}

#center-icon
{
    text-align: center;
    font-size: x-large;
}

#big-icon
{
    font-size: x-large;
}

#hidden-icon
{
    font-size: x-large;
    visibility: hidden;
}

#full-width
{
    width: 100%;
}

#width-90
{
    width: 90%;
}
