<h1 class="page-header">Admin</h1>
<h2 class="sub-header">Users</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr scope="row">
            <th id="dark-th"><span class="glyphicon glyphicon-triangle-bottom"></span> Username</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Password</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form>
                <td><input type="text" placeholder="username" id="full-width"></input></td>
                <td><input type="password" placeholder="password" id="width-90"></input></td>
                <td><input type="text" placeholder="role1, role2" id="full-width"></td></input></td>
                <td>
                    <a href="" class="glyphicon glyphicon-plus pull-left" id="big-icon" st></a>
                    <a href="" class="glyphicon glyphicon-ok pull-right" id="big-icon"></a>
                </td>
            </form>
        </tr>
        <tr>
            <form>
                <td><input type="hidden" value="alice">alice</input></td>
                <td><input type="hidden" value=""></input></td>
                <td><input type="hidden" value="student">student</input></td>
                <td>
                    <a href="" class="glyphicon glyphicon-remove pull-left" id="big-icon"></a>
                    <a href="" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                </td>
            </form>
        </tr>
        <tr>
            <form>
                <td><input type="hidden" value="bob">bob</input></td>
                <td><input type="hidden" value=""></input></td>
                <td><input type="hidden" value="faculty | admin">faculty | admin</input></td>
                <td>
                    <a href="" class="glyphicon glyphicon-remove pull-left" id="big-icon"></a>
                    <a href="" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                </td>
            </form>
        </tr>
        <tr>
            <form>
                <td><input type="hidden" value="charlie">charlie</input></td>
                <td><input type="hidden" value=""></input></td>
                <td><input type="hidden" value=""></input></td>
                <td>
                    <a href="" class="glyphicon glyphicon-remove pull-left" id="big-icon"></a>
                    <a href="" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>