<div class="modal-header">
    <img height="50px" width="100px" src="/project/images/logos/youtube_logo.png">
</div>
<div class="modal-body">
    <div class="col-xs-8">
        <input type="text" ng-model="query" class="form-control" placeholder="Search YouTube">
    </div>
    <button class="btn btn-info" ng-click="search(query)">Search</button>

    <div ng-repeat="result in results">
        <br>
        <div class="row search-result" role="button" ng-click="$parent.ok(result.id.videoId)">
            <div class="col-md-3">
                <img ng-src="{{result.snippet.thumbnails.default.url}}">
            </div>

            <div class="col-md-8">
                <label class="lead">{{result.snippet.title}}</label>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button ng-disabled="!prev" class="btn btn-success pull-left" type="button" ng-click="search(query, prev)">Previous</button>
    <button ng-disabled="!next" class="btn btn-primary pull-right" type="button" ng-click="search(query, next)">Next</button>
</div>